<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CS2340.shelterapp">

    <!-- For network calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".Controller.LoginActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CS2340.shelterapp.Controller.LoginActivity" />
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDATHq3sSi3RrFj1-J4DZ5fc5EEuBuL5E" />
        <!-- This API KEY belongs to KEVIN - TEAM 29 -->

        <activity
            android:name=".Controller.MapsFragment"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Controller.MapsMasterActivity"
            android:label="@string/title_activity_maps_master"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Controller.ShelterItemListActivity"
            android:label="@string/title_shelteritem_list"
            android:parentActivityName=".Controller.MapsMasterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CS2340.shelterapp.Controller.MapsMasterActivity" />
        </activity>
        <activity
            android:name=".Controller.ShelterItemDetailActivity"
            android:label="@string/title_shelteritem_detail"
            android:parentActivityName=".Controller.ShelterItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CS2340.shelterapp.Controller.ShelterItemListActivity" />
        </activity>
    </application>

</manifest>